[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/service/.venv/bin/uwsgi -i /home/ubuntu/service/RecipeRecommend/.config/uwsgi/RecipeRecommend.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target